a:focus {
    outline: none;
    -moz-outline-style: none;
}
a:link {
    color: #4DC9FF;
}

a:visited {
    color: #57009E;
}

.aboutme-container {
    display: inline-block;
    margin-left: 15%;
    margin-right: 15%;
}

#achievements {
    padding-bottom: 75px;
}

.achievements-list-container {
    display:inline-block;
}

.achievements-list {
    text-align: left;
    list-style-image: url(../images/chevron-right-cropped.png);
    vertical-align: middle;
}

.achievements-title {
    margin-left: 25%;
    margin-right: 25%;
}

aboutmetext {
    margin-top: 200px;
}

.achievementsection {
    background-color: #5B5E63;
    color: #FFFFFF;
} 

.banner-bottom {
    background: url(../images/collage.jpg); 
    background-position: center;
    background-color:#000;
    margin-bottom: 50px;
    height: auto;  
    width: 100%;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    padding: 100px 0;
    -webkit-transition: opacity 250ms;
    -moz-transition: opacity 250ms;
    -o-transition: opacity 250ms;
    transition: opacity 250ms;
}

<!-- TEST BACKGROUND STUFF -->
.body {  
        background:#FFFFFF;
    }
#box {
    box-shadow:inset 1px 1px 25px 0 rgba(0,0,0,.45);
    background:url(../images/collage.jpg) fixed;
    background-size:auto;
    background-position: center;
}

#box:hover #overlay {
    opacity:1;
}

#bannertext {  
    font-family: "Open Sans", sans-serif;
    color:rgba(255,255,255,.85);
    font-size:64px;
}
<!-- END TEST STUFF -->

.banner-bottom:hover {
    background-color:#000;
    opacity:0.5; 
}

banner-bottom:hover > .banner-text {
    background-color:#000;
    opacity:0.8;    
}

#banner-separator .banner-text {
    color: #075DB3;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 32pt;
    visibility: hidden;
}

#banner-separator:hover .banner-text {
    visibility: visible;    
}

.bar {
    background: #075DB3;
    height: 30px;
    color: #075DB3;
}

.center {
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.column-right-align {
    width: 50%;
    text-align: right;
}

.column-left-align {
    text-align: left;
}

.contact {
    background: url(../images/IMG_1001-blur.jpg) fixed; 
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    background-position: center;
    padding-top: 200px;
}

.contact-bar {
    display:inline-block;
    text-align: left;
}

#contactinfo {
    color: #FFFFFF;
    padding-bottom: 150px;
}

content-main {
    margin-left: 15%;
    margin-right: 15%;
}

.courses-list {
    text-align: left;
    list-style-image: url(../images/chevron-right-cropped-white.png);
    vertical-align: middle;
    display: inline-block;
}

#education {
    background-color: #5B5E63;
    color: #FFFFFF;
    display:inline-block;
    width: 100%;
    padding-bottom: 75px;
}

.education {
    background-color: #5B5E63;
    color: #FFFFFF;
    display:inline-block;
}

.email-icon:hover {
    opacity: 0.5;
}

#experience {
    padding-bottom: 75px;
}

.experience {
    background-color: #5B5E63;
    color: #FFFFFF;
    display: inline-block;
}

.fb-icon:hover {
    opacity: 0.5;
}

.footer {
    background-color: #5B5E63;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 10pt;
    text-align: center;
    display: inline-block;
    width: 100%;
    position: absolute;
}

.github-icon:hover {
    opacity: 0.5;
}

.img-inline {
    float:left;
    margin: 15px;
}

.intro-socialmedia, .languageproficiencytitle, {
    text-align: center;
}

.intro {
    background: url(../images/IMG_1937-blur.jpg) fixed; 
    background-position: center;
    margin: 0 auto;
    height: 100%;  
    width: 100%;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 375px 0 250px 0;    
}

.intro-top {
    font-family: "Lato", sans-serif;
    font-size: 56pt;
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
}

.intro-bottom {
    font-family: "Lato", sans-serif;
    font-size: 30pt;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 50px;
}

.languages {
    font-size: 12pt;
}

.leftparagraph {
    text-align: left;
}

.li-icon:hover {
    opacity: 0.5;
}

.line-light {
    width: 30%;
    border-color: #FFFFFF;
}

.line-dark {
    width: 30%;
    border-color: #000000;
}

.my-row {
    display: inline-block;
    margin-right: -15px;
    margin-left: -15px;
}

.navbar {
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    background-color:#0064b4;
    width:100%;
    height:auto;
    box-shadow: 0px 1px 10px #5E5E5E;
    top:0px;
    border-bottom:solid #000000;
}

.navbar li {
    display:inline-block;
    text-align: center;
    color: #FFFFFF;
}

.navbar > ul {
    margin: 0;
}

.navbar li a{
    display: block;
    padding:15px;/*t r b l*/
    line-height:20px;
    text-decoration:none;
    color:#F9F9F9;
}

.navbar li:hover {
    opacity:1;
    background:#044b84;
    -webkit-transition:ease-in-out all 200ms;
    -moz-transition:ease-in-out all 200ms;
    -o-transition:ease-in-out all 200ms;
    -ms-transition:ease-in-out all 200ms;
    transition:ease-in-out all 200ms;
}

.navtext {
    background-color: #747A80;
    width: 100%;
}

#overlay {  
    background:rgba(0,0,0,.75);
    text-align:center;
    padding:66px 0 66px 0;
    opacity:0;
    -webkit-transition: opacity .25s ease;
    -webkit-transition: opacity 250ms;
    -moz-transition: opacity 250ms;
    -o-transition: opacity 250ms;
    transition: opacity 250ms;
}

.phone-icon:hover {
    opacity: 0.5;
}

.positiontitle {
    font-style: italic;
}

.position-desc {
    max-width: 700px;
}

.pre-space {
    text-indent: 15px;
}

.sectiontitle {
    font-weight: 400;
    font-size: 36pt;
    padding-top: 1.5em;
}

.socialinfo {
    display: inline-block;
    padding-bottom: 100px;
}

.social-media-bar {
    text-align: left;
    margin-left: -30px;
}

#skills {
    padding-bottom: 350px;
}